.task-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 5px;
}

.task-item > span {
  flex: 1 1;
  text-align: left;
  margin-left: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.task-item button {
  outline: none;
  border: none;
  height: 32px;
  min-width: 32px;
  min-height: auto;
  box-shadow: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 8px;
  color: white;
}

.task-item__delete {
  background-color: red;
  border-radius: 50%;
}
