body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --heading-color: #536390;
  --font-color: #424242;
  --bg-color: #fff;
}

[data-theme="dark"] {
  --heading-color: #818cab;
  --font-color: #e1e1ff;
  --bg-color: #161625;
}
